<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Balikpapanku | Baca Berita Terbaru</title>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    /> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    {% block content %} {% endblock %}
    <!-- asd -->
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
